<section id="accessories-top">

</section>

<section id="accessories-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= raw @page.content_for(:intro) %>
      </div>
    </div>
  </div>
</section>

<section id="handlebars">
  <div class="container">
    <div class="row sub-head">
      <%= raw @page.content_for(:handlebars) %>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-graphite-matte.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-red-gloss.png', class: 'img-responsive' %>
      </div>
      <!-- <div class="col-md-4 col-sm-6">
        <%#= image_tag 'bars-black-gloss.png', class: 'img-responsive' %>
      </div> -->
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-white-gloss.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-black-matte.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-flatbar.png', class: 'img-responsive' %>
      </div>      

    </div>
  </div>
</section>

<section id="stems">
  <div class="container">
    <div class="row sub-head">
      <%= raw @page.content_for(:stems) %>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-graphite.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-red.png', class: 'img-responsive' %>
      </div>
<!--       <div class="col-md-4 col-sm-6">
        <%#= image_tag 'stem-noire.png', class: 'img-responsive' %>
      </div> -->
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-white.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-carbon.png', class: 'img-responsive' %>
      </div>

    </div>
  </div>
</section>

<section id="pedal-accessories-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= raw @page.content_for(:pedal_accessories) %>
      </div>
    </div>
  </div>
</section>

<section id="cleats">
  <div class="container">
    <div class="row">
      <%= raw @page.content_for(:pedal_cleats) %>
    </div>  
  </div>
</section>

<section id="cleat-plates">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= raw @page.content_for(:cleat_plates) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      <%= image_tag 'xpresso-body-plates.png', class: 'img-responsive' %>
    </div>
  </div>
  </div>
</section>