<section id="accessories-top">

</section>

<section id="accessories-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= raw @page.content_for(:intro) %>


        <h1>TIME Sport Accessories</h1>
        <p>Components worthy of your TIME bike. Matching carbon fiber bars and stems, using the same technology we use to make our legendary frames and of course, 100% MADE IN FRANCE.</p>



      </div>
    </div>
  </div>
</section>

<section id="handlebars">
  <div class="container">
    <div class="row sub-head">
      <%= raw @page.content_for(:handlebars) %>



      <div class="col-sm-4 col-md-3 accessory-title">
        <h2>ERGODRIVE</h2>
        <h3>Compact geometry<br />full carbon RTM</h3>
      </div>
      <div class="col-sm-8 accessory-desc" id="bar-desc">
        <p>Ø 31.8mm<br />
        HM and HR fibers with integrated carbon reinforcing sleeve<br />
        Integrated cable housing channels with removable ergonomic covers<br />
        Sizes : 42, 44, 46 cm (outside-to-outside)<br />
        225 g</p>
      </div>



    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-red-gloss.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-black-gloss.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-white-gloss.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-black-matte.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'bars-yellow-gloss.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section id="stems">
  <div class="container">
    <div class="row sub-head">
      <%= raw @page.content_for(:stems) %>

      <div class="col-sm-4 col-md-3 accessory-title">
        <h2>MONOLINK ULTEAM</h2>
        
      </div>
      <div class="col-sm-8 accessory-desc" id="bar-desc">
        <p>Ø 31.8mm<br />
        Steerer Ø1" 1/8<br />
        Lengths : 90, 100, 110, 120, 130mm<br />135 g</p>
      </div>


    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-red.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-noire.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-white.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-carbon.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= image_tag 'stem-yellow.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section id="pedal-accessories-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= raw @page.content_for(:pedal_accessories) %>
        <h1>Pedal Accessories</h1>
        <p>Replacement cleats for our Xpresso, RXS and ATAC pedals and Xpresso body plates.</p>
      </div>
    </div>
  </div>
</section>

<section id="cleats">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-sm-offset-2 col-sm-3 text-center">
        <%= image_tag 'cleats-xpresso.png', class: 'img-responsive' %>
        <caption class="">iClic Cleats | 85g/pair</caption>
      </div>
      <div class="col-sm-3 text-center">
        <%= image_tag 'cleats-rxs.png', class: 'img-responsive' %>
        <caption>RXS Cleats | 99g/pair</caption>
      </div>
      <div class="col-sm-3 text-center">
        <%= image_tag 'cleats-atac.png', class: 'img-responsive' %>
        <caption>ATAC Cleats | 45g/pair</caption>
      </div>
    </div>  
  </div>
</section>

<section id="cleat-plates">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= raw @page.content_for(:cleat_plates) %>


      <h1>Xpresso Body Plates</h1>
      <p>Maintain the super smooth float you get with Xpresso pedals by replacing your plates. Also a way to customize, color-coordinate your Xpresso pedals with your bike and kit.</p>
      </div>


    </div>
    <div class="row">
      <div class="col-lg-12">
      <%= image_tag 'xpresso-body-plates.png', class: 'img-responsive' %>
    </div>
  </div>
  </div>
</section>