<section id="dist-top"></section>



<section id="dist-text">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= @page.title %></h1>
        <%= raw @page.content_for(:body) %>
      </div>
    </div>
  </div>
</section>

<div class="container more-btm-padding">
<div class="row">
  <% @us_dealers.each do |d| %>
<div class="col-xs-2 dealers">
  <%= d.dealer_name %><br />
  <%= d.latitude %> | <%= d.longitude %><br />
  <%= d.street_address_1 %><br />
  <% unless d.street_address_2.empty? %>
    <%= d.street_address_2 %><br />
  <% end %>
  <%= d.city + ',' %> <%= d.state_province %> <%= d.postal_code %><br />
  <%= d.country %><br />

  TEL: <%= d.telephone_1 %><br />
  <% unless d.email.empty? %>
    <%= d.email %><br />
  <% end %>
  <% unless d.website.empty? %>
    <%= d.website %><br />
  <% end %> 
</div>
<% end %>
</div>
</div>





<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>


<div style='width: 800px;'>
  <div id="map_us" style='width: 800px; height: 400px;'></div>
</div>









