<section id="ef-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'web_TIME_Skylon_EdFrancaise_av.png' %>
      </div>
      <div class="col-md-5">
        <h1 class="text-center">EDITION FRANCAISE</h1>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section id="ef-images">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag 'Edition-Francaise-SCYLON.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'Macro-Time-novembre-2015-1.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'Macro-Time-novembre-2015-16.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
<section id="ef-text">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-lead">All EDITION FRANCAISE series frames come with AKTIV FORK technology – for unmatched vibration dampening while delivering precision and performance, TRANSLINK INTEGRATED SEAT MAST – lowering weight while increasing comfort and ride quality, and our beautiful gloss finish done in-house to ensure durability and long-lasting beauty.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center" ><%= image_tag 'AKTIV-LOGO-black.png', class: 'img-responsive ', style: "height:70px !important;margin:0 auto;"%>
        <p>AKTIV FORK</p>
      </div>
      <div class="col-sm-4 text-center" ><%= image_tag 'translink.png', class: 'img-responsive text-center', style: "height:70px !important;margin:0 auto;" %>
        <p>TRANSLINK INTEGRATED SEAT MAST</p>
      </div>
      <div class="col-sm-4 text-center" ><%= image_tag 'gloss-icon.png', class: 'img-responsive text-center', style: "height:70px !important;margin:0 auto;" %>
        <p>GLOSS FINISH</p>
      </div>
    </div>
  </div>
</section>
<section id="ef-models">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'web_TIME_Skylon_EdFrancaise_av.png', class: 'img-responsive' %><br />
        <%= image_tag 'http://www.timesport.com/system/images/W1siZiIsIjIwMTYvMDkvMjYvMTUvNDMvNTkvODc5L2hvbWVfU0NZTE9OX0xPR09fYmxhY2sucG5nIl0sWyJwIiwidGh1bWIiLCI1MDB4Il0sWyJwIiwic3RyaXAiXV0/home-SCYLON-LOGO-black.png', class: 'img-responsive', style: 'height:50px;margin:0 auto !important;' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'http://www.timesport.com/system/images/W1siZiIsIjIwMTYvMDIvMDQvMDMvMTQvNDAvOTUvd2ViX1RJTUVfSXpvbl9FZEZyYW5jYWlzZV9hdi5wbmciXV0/web-TIME_Izon_EdFrancaise_av.png', class: 'img-responsive' %><br />
        <%= image_tag 'http://www.timesport.com/system/images/W1siZiIsIjIwMTUvMDQvMTQvMTEvNDQvMzQvMjkwL2hvbWVfSVpPTl9MT0dPX2JsYWNrLnBuZyJdXQ/home-IZON-LOGO-black.png', class: 'img-responsive', style: 'height:50px;margin:0 auto !important;' %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'http://www.timesport.com/system/images/W1siZiIsIjIwMTYvMDIvMDQvMDMvMTUvMzgvMjI5L3dlYl9USU1FX0ZsdWlkaXR5X0VkRnJhbmNhaXNlX2F2LnBuZyJdXQ/web-TIME_Fluidity_EdFrancaise_av.png', class: 'img-responsive' %><br />
        <%= image_tag 'http://www.timesport.com/system/images/W1siZiIsIjIwMTUvMDQvMTQvMTEvNDQvMzMvMjc5L2hvbWVfRkxVSURJVFlfTE9HT19ibGFjay5wbmciXV0/home-FLUIDITY-LOGO-black.png', class: 'img-responsive', style: 'height:50px;margin:0 auto !important;' %>
      </div>
    </div>
  </div>
</section>
<section id="ef-bar-stem">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Complete the ultimate cycling experience!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= image_tag 'top-bg-6.png', class: 'img-responsive', style: 'margin:0 auto;' %>
      </div>

    </div>

  </div>
</section>