<!-- HOME TOP  ***************************** -->
<% @top_bg_image = ['top-bg-1.png', 'top-bg-2.png', 'top-bg-3.png'] %>
<!-- ,, 'top-bg-4.png', 'top-bg-5.png' -->
<% @random_bg_image = @top_bg_image.sample %>

<style>
  #home-top {background-image:url(/assets/<%= @random_bg_image %>); }
</style>

<section id="home-top">
  <div class="container">
    <div class="row">
      <%= raw @page.content_for(:home_main) %>
    </div>
  </div>
</section>

<!-- MADE IN FRANCE  ***************************** -->

<% @mif_bg_image = ['made-in-france-p3.jpg','readyforresin.jpeg', 'DSC_7960-carbon-weaver.jpg'] %>
<% @random_mif_image = @mif_bg_image.sample %>

<style>
  #home-made-in-france {background-image:url(/assets/<%= @random_mif_image %>); }
</style>

<section id="home-made-in-france">
  <div class="container-fluid">
    <div class="row" style="border:1px solid red;">
      <%= raw @page.content_for(:home_made_in_france) %>
    </div>
  </div>
</section>

<!-- HOME FEATURES  ***************************** -->
<section id="home-features">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center"><%= raw @page.content_for(:whats_new) %></h1>

        <div id="bike-frame-carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @home_features.each_with_index do |hf, index| %>
            <li data-target="#bike-frame-carousel" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" >

            <% @home_features.each_with_index do |hf, index| %>
            <div class="item <% if index == 0 %>active<% end %>">

              <div class="col-lg-9 col-sm-9 red-border1" id="home-bike-image">

                <%= image_tag hf.main_image.url, alt: hf.title, class: 'img-responsive' %>
              </div>
              <div class="col-lg-3 col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1 red-border1 text-center" id="home-bike-logo">
                <%= image_tag hf.logo.url, class: 'img-responsive text-center' %>
                
                <h3><%= link_to hf.link_text, hf.link_url %></h3>
              </div>
              <div class="col-lg-3 col-sm-3 col-xs-6 dhidden-xs red-border1" id="home-bike-bg">
                <%= image_tag hf.background_image.url %>
              </div>
            </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#bike-frame-carousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left fa-4x"></span>
          </a>
          <a class="right carousel-control" href="#bike-frame-carousel" role="button" data-slide="next">
            <span class="fa fa-angle-right fa-4x"></span>
          </a>
        </div>
      </div>
    </div>
   
  </div>
</section>

<!-- BIKE/FRAMES 2015 COLLECTION  ***************************** -->
<!-- 
<section id="bikes-frames" class="time-text white">
  <div class="container-fluid">

   <h1></h1>
    <div class="row">
      <div class="col-md-4">
        <h2><%#= @skylon_bike_type %></h2>
        <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @skylon_aktiv.each do |c| %>
              <%#= image_tag c.image.url, class: 'img-responsive' %>
              <%#= link_to c.name, bikes_bike_path(@skylon_path) %>
          <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @skylon.each do |s| %>
              <%#= image_tag s.image.url, class: 'img-responsive' %>
              <%#= link_to s.name, bikes_bike_path(@skylon_path) %>
            <%# end %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h2><%#= @izon_bike_type %></h2>
         <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @izon_aktiv.each do |c| %>
              <%#= image_tag c.image.url, class: 'img-responsive' %>
              <%#= link_to c.name, bikes_bike_path(@izon_path) %>
          <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @izon.each do |s| %>
              <%#= image_tag s.image.url, class: 'img-responsive' %>
              <%#= link_to s.name, bikes_bike_path(@izon_path) %>
            <%# end %>
          </div>
        </div>
      </div>
 
    <div class="col-md-4">
        <h2><%#= @fluidity_bike_type %></h2>
         <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @fluidity_aktiv.each do |c| %>
              <%#= image_tag c.image.url, class: 'img-responsive' %>
              <%#= link_to c.name, bikes_bike_path(@fluidity_path) %>
          <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @fluidity.each do |s| %>
              <%#= image_tag s.image.url, class: 'img-responsive' %>
              <%#= link_to s.name, bikes_bike_path(@fluidity_path) %>
            <%# end %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h2><%#= @specialty_bike_type %></h2>
         <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# unless @specialty_1.nil? %>
              <%# @specialty_1.each do |c| %>
                <%#= image_tag c.image.url, class: 'img-responsive' %>
                <%#= link_to c.name, bikes_bike_path(@specialty_1_path) %>
              <%# end %>
            <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# unless @specialty_2.nil? %>
              <%# @specialty_2.each do |s| %>
                <%#= image_tag s.image.url, class: 'img-responsive' %>
                <%#= link_to s.name, bikes_bike_path(@specialty_2_path) %>
              <%# end %>
            <%# end %>
          </div>
        </div>
      </div> 

    </div>
  </div>
</section>-->

<!-- AKTIV  ***************************** -->
<section id="aktiv">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <%= image_tag 'AKTIV-home.png', class: 'img-responsive', id: 'aktiv-izon' ,style: 'margin-left:-20px;' %>
      </div>
      <div class="col-lg-3 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0" id="aktiv-txt">
        <%= image_tag 'AKTIV-LOGO-white.png', class: 'img-responsive' %>
        <%= raw @page.content_for(:aktiv_section) %>
      </div>
    </div>
  </div>
</section>

<!-- PEDALS  ***************************** -->
<section id="pedals">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h1><%= raw @page.content_for(:pedal_title) %></h1></div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <%= image_tag 'Xpresso-15-profil.png', class: 'img-responsive' %>
      </div>
      <div class="col-lg-6 col-lg-offset-3 text-center" id="pedal-txt">
        <%= raw @page.content_for(:pedal_section) %>
        
          
        </p>
      </div>
    </div>
  </div>
</section>
