<% @top_bg_image = ['top-bg-10-comp.png', 'top-bg-11-comp.png', 'top-bg-13-comp.png', 'top-bg-12-comp.png', 'top-bg-link-comp.png', 'scylon-ulteam-30-comp.jpg'] %>
<% @random_bg_image = @top_bg_image.sample %>
<section id="home-top">
  <div class="container">
    <div class="row">
      <%= raw @page.content_for(:home_main) %>
    </div>
  </div>
</section>
<div id="home-top-bike">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @random_bg_image == 'top-bg-link.png' %>
          <%= link_to (image_tag @random_bg_image, class: 'img-responsive'), '/pedals/city-pedal-link' %>
        <% elsif @random_bg_image == 'scylon-ulteam-30.jpg' %>
          <%= link_to (image_tag @random_bg_image, class: 'img-responsive'), '/scylon-ulteam-30' %>
        <% else %>
          <%= image_tag @random_bg_image, class: 'img-responsive' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
  #home-made-in-france {background-image:url(/assets/<%= @random_mif_image %>); }
</style>
<div>
<section id="home-made-in-france">
  <div class="container-fluid">
    <div class="row">
      <%= raw @page.content_for(:home_made_in_france) %>
    <div class="embed-responsive embed-responsive-16by9">
      <video autoplay loop >
        <source src="/assets/made-in-france.webm" type="video/webm" />
        <source src="/assets/made-in-france.mp4" type="video/mp4" />
      </video>
      </div>
    </div>
  </div>
</section>
</div>
<section id="home-features">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center"><%= raw @page.content_for(:whats_new) %></h1>
        <div id="bike-frame-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @home_features.each_with_index do |hf, index| %>
            <li data-target="#bike-frame-carousel" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner" >
            <% @home_features.each_with_index do |hf, index| %>
            <div class="item <% if index == 0 %>active<% end %>">
              <div class="col-lg-9 col-sm-9 red-border1" id="home-bike-image">
                <%= image_tag hf.main_image.url, alt: hf.title, class: 'img-responsive' %>
              </div>
              <div class="col-lg-3 col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1 red-border1 text-center" id="home-bike-logo">
                <%= image_tag hf.logo.url, class: 'img-responsive text-center' %>
                <h2><%= link_to hf.title %></h2>
                <p><%= link_to hf.link_text, hf.link_url %></p>
              </div>
              <div class="col-lg-3 col-sm-3 col-xs-6 dhidden-xs red-border1" id="home-bike-bg">
                <%= image_tag hf.background_image.url %>
              </div>
            </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#bike-frame-carousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left fa-4x"></span>
          </a>
          <a class="right carousel-control" href="#bike-frame-carousel" role="button" data-slide="next">
            <span class="fa fa-angle-right fa-4x"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aktiv">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <%= image_tag 'TIME-SCYLON-AKTIV-T30.png', class: 'img-responsive', id: 'aktiv-scylon' ,style: 'margin-left:-20px;' %>
      </div>
      <div class="col-lg-3 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0" id="aktiv-txt">
        <%= image_tag 'AKTIV-LOGO-black.png', class: 'img-responsive', alt: 'TIME AKTIV logo', title: 'TIME AKTIV logo' %>
        <%= raw @page.content_for(:aktiv_section) %>
      </div>
    </div>
  </div>
</section>
<section id="time-pedals">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>2017 TIME Sport Pedals</h1>
        <p>From the smoothest of roads to the most extreme trails, TIME Sport pedals set the standard in ergonomics, ease of use and performance.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 pedal-col text-center">
        <h3><%= link_to 'ROAD', '/pedals/road-pedals/', title: 'TIME XPRESSO and RXS road pedals' %></h3>
        <%= image_tag 'http://timefr-01.herokuapp.com/system/images/W1siZiIsIjIwMTYvMDUvMDQvMDIvMDUvMjIvMjk1L1BFREFMU19yb2FkX3hwcmVzczEyX2NvbXAucG5nIl0sWyJwIiwidGh1bWIiLCI1MDB4Il1d/PEDALS-road-xpress12-comp.png', class: 'img-responsive', alt: 'Road pedals', title: 'TIME XPRESSO 12 road racing pedals' %>
      </div>
      <div class="col-md-2 pedal-col text-center">
        <h3><%= link_to 'CITY', '/pedals/city-pedal-link', title: 'TIME LINK pedals' %></h3>
        <%= image_tag 'TIME-Link-Face-Clip.png', class: 'img-responsive', alt: 'City commuter pedals', title: 'TIME LINK pedal for commuting and city riding' %>
      </div>
      <div class="col-md-2 pedal-col text-center">
        <h3><%= link_to 'CROSS COUNTRY', '/pedals/mtb-pedals', title: 'TIME ATAC XC pedals' %></h3>
        <%= image_tag 'http://timefr-01.herokuapp.com/system/images/W1siZiIsIjIwMTYvMDUvMDQvMDIvMDYvMzUvOTM1L1BFREFMU19tdGJfYXRhY194YzhfY29tcC5wbmciXV0/PEDALS-mtb-atac-xc8-comp.png', class: 'img-responsive', alt: 'MTB XC pedals', title: 'TIME ATAC XC MTB and cyclocross pedals' %>
      </div>
      <div class="col-md-2 pedal-col text-center">
        <h3><%= link_to 'ENDURO / TRAIL', '/pedals/mtb-pedals', title: 'TIME ATAC MX pedals' %></h3>
        <%= image_tag 'http://timefr-01.herokuapp.com/system/images/W1siZiIsIjIwMTYvMDUvMDQvMDIvMDYvMzYvNTM1L1BFREFMU19tdGJfYXRhY19teDEyX2NvbXAucG5nIl1d/PEDALS-mtb-atac-mx12-comp.png', class: 'img-responsive', alt: 'MTB enduro and trail pedals', title: 'TIME ATAC MX pedals' %>
      </div>
      <div class="col-md-2 pedal-col text-center">
        <h3><%= link_to 'DOWNHILL', '/pedals/mtb-pedals', title: 'TIME ATAC DH pedals' %></h3>
        <%= image_tag 'http://timefr-01.herokuapp.com/system/images/W1siZiIsIjIwMTYvMDUvMDQvMDIvMDYvMzgvODM1L1BFREFMU19tdGJfYXRhY19ESDRfY29tcC5wbmciXV0/PEDALS-mtb-atac-DH4-comp.png', class: 'img-responsive', alt: 'Downhill pedal', title: 'TIME ATAC DH downhill pedals' %>
      </div>
    </div>
  </div>
</section>