<section id="megeve-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= image_tag '1_Logo_MEGEVE.png', class: 'img-responsive', id: 'logo-megeve' %>
      </div>
    </div>
  </div>
</section>
<section id="megeve-headline">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <%= image_tag 'time-megeve.png', class: 'img-responsive text-center', width: '300px', style: 'margin:0 auto 40px auto;' %>
        <%= raw @page.content_for(:megeve_main) %>
        <!-- <h1 class="text-center">13ème TIME Megève Mt. Blanc</h1>
        <h3 class="text-center">June 5, 2016</h3>
        <p class="lead">
          Join us in celebrating our 30th anniversary with the 13th running of the TIME Megeve Mt. Blanc ride. All participants will have a chance to win a <a href="#megeve-izon" class="scroll-btn">TIME IZON AKTIV.</a> The 90km, 120km, 149km courses all feature challenging climbs over the majestic peaks of the French Alps. This is a ride you will not want to miss.
        </p>
        <div class="text-center">
          <a href="http://www.csportsmegeve.com" class="btn btn-lg btn-danger">REGISTER</a>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section id="megeve-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <%= image_tag 'sponsors-cycling-fed.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-2">
        <%= image_tag 'sponsors-trophee.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-2">
        <%= image_tag 'sponsors-sport-club.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-2">
        <%= image_tag 'sponsors-radio.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-2">
        <%= image_tag 'sponsors-audi.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>


<section id="megeve-izon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= raw @page.content_for(:megeve_izon) %>
        <!-- 
        <h1 class="text-center">WIN AN IZON AKTIV!</h1>
         <p class="lead text-center">
          All participants will be entered for a chance to win a Megève Mt. Blanc Special Edition IZON AKTIV.
        </p>
        <p class="text-center">
          <a href="/bikes/izon">Learn more about the IZON AKTIV</a>
        </p>
 -->
        <%= image_tag 'Izon-AKTIV-red-bike.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>


<style>

#mapmyfitness_route > h2 {
  font-size:18px !important;
}

</style>

<section id="megeve-map">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center">Course Maps</h1>
      <div class="col-md-4">
        <h3 class="text-center">149KM</h3>
        <!-- <iframe height='385' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/4363002/embed'></iframe> -->
        <iframe id="mapmyfitness_route" src="//snippets.mapmycdn.com/routes/view/embedded/215006969?width=600&height=400&elevation=true&line_color=E60f0bdb&rgbhex=DB0B0E&distance_markers=0&unit_type=metric&map_mode=ROADMAP&last_updated=2013-05-26T03:34:09-05:00&show_marker_every=14" height="630px" width="100%" frameborder="0"></iframe>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">120KM</h3>
        <iframe id="mapmyfitness_route" src="//snippets.mapmycdn.com/routes/view/embedded/219736659?width=600&height=400&elevation=true&line_color=E60f0bdb&rgbhex=DB0B0E&distance_markers=0&unit_type=metric&map_mode=ROADMAP&last_updated=2013-06-03T04:05:42-05:00&show_marker_every=6" height="630px" width="100%" frameborder="0"></iframe>
        <!-- <iframe height='385' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/4366161/embed'></iframe> -->

      </div>
      <div class="col-md-4">
        <h3 class="text-center">90KM</h3>
        <iframe id="mapmyfitness_route" src="//snippets.mapmycdn.com/routes/view/embedded/18048966?width=600&height=400&elevation=true&line_color=E60f0bdb&rgbhex=DB0B0E&distance_markers=0&unit_type=metric&map_mode=ROADMAP&last_updated=2010-06-06T12:44:11-05:00&show_marker_every=5" height="630px" width="100%" frameborder="0"></iframe>
        <!-- <iframe height='385' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/4366171/embed'></iframe> -->

      </div>
    </div>
  </div>
</section>
