
<script>
$(document).ready(function(){
  alert("Hello");
  console.log('hello');
// // $('#elevation_graph').css('height':'200px !important');

//   $("#route_map").contents().find("#elevation_graph").css('height':'200px !important');
});


</script>


<section id="megeve-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= image_tag '1_Logo_MEGEVE.png', class: 'img-responsive', id: 'logo-megeve' %>
      </div>
    </div>
  </div>
</section>
<section id="megeve-headline">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <%= image_tag 'time-megeve.png', class: 'img-responsive text-center', width: '300px', style: 'margin:0 auto 40px auto;' %>
        <%= raw @page.content_for(:megeve_main) %>
        <!-- <h1 class="text-center">13ème TIME Megève Mt. Blanc</h1>
        <h3 class="text-center">June 5, 2016</h3>
        <p class="lead">
          Join us in celebrating our 30th anniversary with the 13th running of the TIME Megeve Mt. Blanc ride. All participants will have a chance to win a <a href="#megeve-izon" class="scroll-btn">TIME IZON AKTIV.</a> The 90km, 120km, 149km courses all feature challenging climbs over the majestic peaks of the French Alps. This is a ride you will not want to miss.
        </p>
        <div class="text-center">
          <a href="http://www.csportsmegeve.com" class="btn btn-lg btn-danger">REGISTER</a>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section id="megeve-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <%= image_tag 'sponsors-cycling-fed.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-2">
        <%= image_tag 'sponsors-trophee.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-2">
        <%= link_to (image_tag 'sponsors-sport-club.png', class: 'img-responsive'), 'http://www.csportsmegeve.com/fr' %>
      </div>
      <div class="col-xs-2">
        <%= image_tag 'sponsors-radio.png', class: 'img-responsive' %>
      </div>
      <div class="col-xs-2">
        <%= image_tag 'sponsors-audi.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>


<section id="megeve-izon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= raw @page.content_for(:megeve_izon) %>
        <!-- 
        <h1 class="text-center">WIN AN IZON AKTIV!</h1>
         <p class="lead text-center">
          All participants will be entered for a chance to win a Megève Mt. Blanc Special Edition IZON AKTIV.
        </p>
        <p class="text-center">
          <a href="/bikes/izon">Learn more about the IZON AKTIV</a>
        </p>
 -->
        <%= image_tag 'TIME_Izon_AKTIV_Blanc_av.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>







<section id="megeve-map">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center">Course Maps</h1>
      <div class="col-md-4">
        

        <iframe src="http://www.mapmyride.com/courses/embedded/1560209?width=600&height=400&line_color=E60f0bdb&distance_markers=1&map_mode=ROADMAP" height="450px" width="100%" frameborder="0"></iframe><div style="text-align: right; padding-right: 0px;">
        <%= link_to (image_tag 'megeve-long.png', class: 'img-responsive'), 'http://www.mapmyride.com/courses/1560209', target: '_blank' %>
                <a href="http://www.mapmyride.com/courses/1560209" target="_blank">View this Course</a> on <a href="http://mapmyride.com" target="_blank">MapMyRide</a>
            </div>


      </div>
      <div class="col-md-4">
        
        <iframe src="http://www.mapmyride.com/courses/embedded/1560253?width=600&height=400&line_color=7f0000ff&distance_markers=1&map_mode=ROADMAP" height="450px" width="100%" frameborder="0"></iframe><div style="text-align: right; padding-right: 0px;">
        <%= link_to (image_tag 'megeve-medium.png', class: 'img-responsive'),  'http://www.mapmyride.com/courses/1560253', target: '_blank' %>
                <a href="http://www.mapmyride.com/courses/1560253" target="_blank">View this Course</a> on <a href="http://mapmyride.com" target="_blank">MapMyRide</a>
            </div>

      </div>
      <div class="col-md-4">
        
        <iframe src="http://www.mapmyride.com/courses/embedded/1560254?width=600&height=400&&line_color=7f0000ff&distance_markers=1&map_mode=ROADMAP" height="450px" width="100%" frameborder="0"></iframe><div style="text-align: right; padding-right: 0px;">
        <%= link_to (image_tag 'megeve-short.png', class: 'img-responsive'), 'http://www.mapmyride.com/courses/1560254', target: '_blank' %>
                <a href="http://www.mapmyride.com/courses/1560254" target="_blank">View this Course</a> on <a href="http://mapmyride.com" target="_blank">MapMyRide</a>
            </div>
        

      </div>
    </div>
  </div>
</section>


<style>

#mapmyfitness_route > h2 {
  font-size:18px !important;

}

#map_my_embed_tool > h2.notranslate {
  display:hidden !important;
  color:#fff;
}

div#elevation_graph {
  height:200px !important;
}

</style>


<script>
$(document).ready(function(){
  alert("Hello");
  console.log('hello');
// // $('#elevation_graph').css('height':'200px !important');

//   $("#route_map").contents().find("#elevation_graph").css('height':'200px !important');
});


</script>
