<section id="megeve-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= image_tag '1_Logo_MEGEVE.png', class: 'img-responsive', id: 'logo-megeve' %>
      </div>
    </div>
  </div>
</section>
<section id="megeve-headline">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <%= image_tag 'time-megeve.png', class: 'img-responsive text-center', width: '300px', style: 'margin:0 auto 40px auto;' %>
        <h1 class="text-center">13ème TIME Megève Mt. Blanc</h1>
        <h3 class="text-center">June 5, 2016</h3>
        <p class="lead">
          Join us in celebrating our 30th anniversary with the 13th running of the TIME Megeve Mt. Blanc ride. All participants will have a chance to win a TIME IZON AKTIV. The 90km, 120km, 149km courses all feature challenging climbs over the majestic peaks of the French Alps. This is a ride you will not want to miss.
        </p>
        <div class="text-center"><%= link_to 'Register', 'http://link.com', class: 'btn btn-lg btn-danger' %></div>
      </div>
    </div>
  </div>
</section>
<section id="megeve-izon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">WIN AN IZON | AKTIV!</h1>
         <p class="lead text-center">
          All participants will be entered for a chance to win a Megève Mt. Blanc Special Edition IZON AKTIV.
        </p>
        <p class="text-center"><%= link_to 'Learn more about the IZON AKTIV', '/bikes/izon' %></p>
        <%= image_tag 'Izon-AKTIV-red-bike.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section id="megeve-map">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center">Course Maps</h1>
      <div class="col-md-4">
        <h3 class="text-center">149KM</h3>
        <iframe height='385' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/4363002/embed'></iframe>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">120KM</h3>
        <iframe height='385' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/4366161/embed'></iframe>

      </div>
      <div class="col-md-4">
        <h3 class="text-center">90KM</h3>
        <iframe height='385' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/4366171/embed'></iframe>

      </div>
    </div>
  </div>
</section>
