<% load_current_pedal(@page) %>

<section id="pedals-show-main">
<div class="container">
  <% @pedal = Refinery::Pedals::Pedal.where(slug: @current_pedal) %>
  <% @pedal.each do |p| %>
  <div class="row">
    <div class="col-sm-5">
      <%= image_tag 'LOGO-' + load_pedal_category_image(p.category) + '.png', width: '60%', class: 'img-responsive cat-logo' %>
      <h1 class="text-center"><%= p.name %></h1>
      <div class="row">
        <div class="col-xs-8 col-sm-12 col-md-7">
          <p style="margin-top:0;"><%= raw p.description %></p>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-5 pedal-weight">
          <h3 class="text-center"><%= raw p.weight %></h3>
        </div>


      </div>
      
      
    </div>
    <div class="col-sm-7">
      <%= image_tag 'PEDALS-road-xpress15-comp.png', class: 'img-responsive' %>
      <%#= image_tag p.pedal_image.url, class: 'img-responsive text-center' %>
    </div>
  </div>
  <% end %>
</div>
</section>
<div clas="clearfix"></div>
