<section id="pedal-xpresso-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4" id="pedal-main-txt">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2"><%#= image_tag 'LOGO-XPRESSO-white.png', class: 'img-responsive' %>
          </div>
        </div>
        <%= raw @page.content_for(:hero_text) %>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
              <%= image_tag 'PEDALS-road-xpresso15-pers.png', class: 'img-responsive' %>
            </div>
          </div>
      </div>
   
    </div>
  </div>
</section>

<section class="pedals-xpresso">
  <div class="container">
    <div class="col-lg-12">
      <%= raw @page.content_for(:body) %>
    </div>
  </div>
</section>

<% content_for :pedal_section do %>

<div class="container pedals-xpresso">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <%= image_tag 'LOGO-XPRESSO.png', width: '100%', class: 'img-responsive atac-logo' %>
      </div>
    </div>
  <div class="row">
    <% @road_pedals_xpresso.each do |rp| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        
          <%= link_to (image_fu rp.pedal_image, '500x', class: 'img-responsive'), rp.link %>
        
        
        <h3>
          <span>
            <%= link_to rp.name, rp.link %>
          </span> | 
          <%= rp.weight %>
        </h3>
        <small><%= rp.description.html_safe %></small>
      </div>
    <% end %>
  </div>
</div>

<section id="pedals-xpresso-flag-editions">
      <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <%= image_tag 'LOGO-XPRESSO.png', width: '100%', class: 'img-responsive atac-logo' %>
        <h2>Flag Editions</h2>
      </div>
    </div>
<div class="row">
  
    <% @road_pedals_xpresso_country.each do |cp| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        
          <%= link_to (image_tag cp.pedal_image.url, width: '100%', class: 'img-responsive'), cp.link %>
        
        
        <h3>
          <span>
          <%= link_to cp.name, cp.link %></span>
             | 
          <%= cp.weight %>
        </h3>
        <small><%= cp.description.html_safe %></small>
      </div>
    <% end %>
  </div>
</section>

<div class="container pedals-xpresso">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <%= image_tag 'LOGO-RXS.png', width: '100%', class: 'img-responsive atac-logo' %>
      </div>
    </div>
  <div class="row">
    <% @road_pedals_rxs.each do |rp| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        
          <%= link_to (image_tag rp.pedal_image.url, width: '100%', class: 'img-responsive'), rp.link %>
        
          <%= image_tag rp.pedal_image.url, width: '100%', class: 'img-responsive' %>
        
        
        <h3>
          <%= link_to rp.name, rp.link %> | 
            <%= rp.weight %>
        </h3>
        <small><%= rp.description.html_safe %></small>
      </div>
    <% end %>
  </div>
</div>

<% end %>

<%= yield :pedal_section %>