<section id="pedal-xpresso-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4" id="pedal-main-txt">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2"><%= image_tag 'LOGO-XPRESSO-white.png', class: 'img-responsive' %>
          </div>
        </div>
        <%= raw @page.content_for(:hero_text) %>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
              <%= image_tag 'PEDALS-road-xpresso15-pers.png', class: 'img-responsive' %>
            </div>
          </div>
      </div>
   
    </div>
  </div>
</section>

<section class="pedals-xpresso">
  <div class="container">
    <div class="col-lg-12">
      <%= raw @page.content_for(:body) %>
    </div>
  </div>
</section>

<div class="container pedals-xpresso">
    <div class="row">
      <div class="col-lg-3 col-lg-offet-1">
        <%= image_tag 'LOGO-XPRESSO.png', class: 'img-responsive atac-logo' %>
      </div>
    </div>
  <div class="row">
    <% @road_pedals_xpresso.each do |rp| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag rp.pedal_image.url, class: 'img-responsive' %>
        <h3><%= rp.name %> | <%= rp.weight %></h3>
        <small><%= rp.description %></small>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @road_pedals_xpresso_country.each do |cp| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag cp.pedal_image.url, class: 'img-responsive' %>
        <h3><%= cp.name %> <%#= cp.weight %></h3>
        <small><%= cp.description %></small>
      </div>
    <% end %>
  </div>
</div>

<div class="container pedals-xpresso">
    <div class="row">
      <div class="col-lg-3 col-lg-offet-1">
        <%= image_tag 'LOGO-RXS.png', class: 'img-responsive atac-logo' %>
      </div>
    </div>
  <div class="row">
    <% @road_pedals_rxs.each do |rp| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center">
        <%= image_tag rp.pedal_image.url, class: 'img-responsive' %>
        <h3><%= rp.name %> | <%= rp.weight %></h3>
        <small><%= rp.description %></small>
      </div>
    <% end %>
  </div>
</div>