<section id="pro-athlete-intro" data-speed="5" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Pro Teams and Athletes</h1>
        <%= link_to 'Pro Cycling Road Teams', '#pro-road-cycling-teams-intro', class: 'scroll-btn' %>
      </div>
    </div>
  </div>
</section>

<section id="pro-road-cycling-teams-intro" data-speed="5" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Pro Road Cycling Teams</h1>
        <p class="text-right"><%= link_to 'HP BTP - Auber93', '#pro-road-cycling-teams-content', class: 'scroll-btn' %></p>
      </div>
    </div>
  </div>
</section>

<section id="pro-road-cycling-teams-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-xs-3">
            <%= image_tag 'https://s3.amazonaws.com/timefr01/2016/HP-BTP-AUBER93-logo.png', class: 'img-responsive' %>
          </div>
          <div class="col-xs-9">
            <h1>HP BTP - AUBER93</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>

        </div>
      </div>

      <div class="col-md-6 text-center">
        <figure class="hide-image">
          <%= image_tag 'http://timefr-01.herokuapp.com/system/images/W1siZiIsIjIwMTYvMDkvMjYvMTYvMzIvMzYvMjA2L0JJS0VzXzIwMTdfMDAwMHNfMDAxNF9TY3lsb25fQVVCRVI5My5wbmciXV0/BIKEs-2017_0000s_0014_Scylon_AUBER93.png', class: 'img-responsive', alt: 'HP BTP - AUBER93 - TIME SCYLON', title: 'TIME SCYLON' %>
          <figcaption>HP BTP - AUBER93 SCYLON</figcaption>
        </figure>
      </div>

  
    </div>
        
      </div>
    </div>
  </div>

</section>


<section id="pro-triathlon" data-speed="15" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Pro Triathlon</h1>
        <p><%= link_to 'TEAM POISSY', '#pro-triathlon-content', class: 'scroll-btn' %></p>
      </div>
    </div>
  </div>
</section>





        


<section id="pro-triathlon-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 push-right">
        <div class="row">
          <div class="col-xs-3">
            <%= image_tag 'https://s3.amazonaws.com/timefr01/2016/Poissy-triathlon-logo.png', class: 'img-responsive' %>
          </div>
          <div class="col-xs-9">
            <h1>POISSY Triathlon</h1>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center pull-left">
        <figure class="hide-image">
          <%= image_tag 'http://timefr-01.herokuapp.com/system/images/W1siZiIsIjIwMTYvMDkvMjYvMTYvMzIvNDEvMzk1L0JJS0VzXzIwMTdfMDAwMHNfMDAwMV9TY3lsb25fVDEwLnBuZyJdXQ/BIKEs-2017_0000s_0001_Scylon_T10.png', class: 'img-responsive', alt: 'TIME SCYLON T10', title: 'TIME SCYLON T10' %>
          <figcaption>SCYLON T10</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>


<section id="pro-mtb-vtt" data-speed="15" data-type="background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Pro MTB VTT</h1>
        
        <p class="text-right"><%= link_to 'TEAM BH', '#pro-mtb-vtt-content', class: 'scroll-btn' %></p>
      </div>
    </div>
  </div>
</section>





        


<section id="pro-mtb-vtt-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-xs-3">
            <%= image_tag 'https://s3.amazonaws.com/timefr01/2016/TEAM-BH-SR-SUNTOUR-KMC-Logo.png', class: 'img-responsive', alt: 'TEAM BH SR-SUNTOUR KMC logo', title: 'TEAM BH' %>
          </div>
          <div class="col-xs-9">
            <h1>TEAM BH - SR SUNTOUR - KMC</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 text-center">
        <figure class="hide-image">
        <%= image_tag 'http://timefr-01.herokuapp.com/system/images/W1siZiIsIjIwMTYvMDUvMDQvMDIvMDYvMzUvOTU1L1BFREFMU19tdGJfYXRhY194YzEyX2NvbXAucG5nIl1d/PEDALS-mtb-atac-xc12-comp.png', class: 'img-responsive', alt: 'TIME ATAC XC 12 MTB pedal', title: 'TIME ATAC XC 12 MTB pedal' %>
        <figcaption id="pedal-offset">ATAC XC 12</figcaption>
      </figure>

      </div>
    </div>
  </div>
</section>

