<style>

#presenting-scylon-ulteam {





}


</style>


<section id="presenting-scylon-ulteam">
  <div class="container">
    <div class"row">
      <div class="col-md-12 text-center">
        <%#= image_tag 'https://www.timesport.com/system/images/W1siZiIsIjIwMTYvMDkvMjYvMTUvNDMvNTkvODc5L2hvbWVfU0NZTE9OX0xPR09fYmxhY2sucG5nIl0sWyJwIiwidGh1bWIiLCI1MDB4Il0sWyJwIiwic3RyaXAiXV0/home-SCYLON-LOGO-black.png', class: 'img-responsive', alt: 'SCYLON', title: '2017 TIME SCYLON' %>
        <h1>Presenting the SCYLON ULTEAM 30</h1>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
<%= image_tag 'Scylon_Ulteam30_Corima-web.png', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

</section>

<style>
.section-box {
  position:relative;
}

.section-text {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  display:table;
}

.section-text div {
  display:table-cell;  
  vertical-align: middle;
  
}
}


</style>

<section id="scylon-30-ans">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 section-box">
        <div class="section-text">
          <div>
        <%= image_tag '30ans-logo-white.png', class: 'img-responsive', alt: '30ans', title: 'TIME 30 ans', width: '40%', style: 'margin:0 auto;' %>

        <p>To celebrate our 30th anniversary, TIME has developed the all new SCYLON ULTEAM 30. This ultra high-end, limited to 100 editions bicycle is our new flagship model, symbolizing both the past and the future of TIME.</p>
 
        <p>The best of TIME’s technologies, issued by our research and French innovation (Carbon Fiber braiding, AKTIV fork, DirectLink system, Stem and Handlebar in RTM carbon), allied with the best components (high end groups and wheels, integrated power sensor), allow a new level of performance, comfort and design!</p>
       
        <p>Meticulously imagined to create a single bike without equivalent, it provides cyclists the possibility to ride faster, in plain as in mountain, with an unrivalled comfortable feel.</p>
        <div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<section id="scylon-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag 'Scylon_Ulteam30_Corima-web.png', class: 'img-responsive', alt: 'SCYLON', title: '2017 TIME SCYLON' %>
      </div>
    </div>
  </div>
</section>


<style>


</style>


<section id="scylon-build-kits">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Only the best of the best...</h1>
        <p>We're offering you our best TIME with only the best components from  Campagnolo and Shimano both including a Rotor crankset with an integrated power meter, super light wheels from Corima and of course, matched TIME handlebars and stem.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <tr>
            <th> </th>
            <th>Campagnolo Super Record EPS</th>
            <th>Shimano Dura-Ace Di2</th>
          </tr>
          <tr>
            <td>Front derailleur</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Rear derailleur</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Levers</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Brakes</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Crankset</td>
            <td>Rotor in Power Flow (with integrated power sensor) NOQ 50A/34</td>
            <td>Rotor in Power Flow (with integrated power sensor) NOQ 50A/34</td>
          </tr>
          <tr>
            <td>Cassette</td>
            <td>Super Record 12-25</td>
            <td>Dura-Ace 11-25</td>
          </tr>  
          <tr>
            <td>Chain</td>
            <td>Record</td>
            <td>Dura-Ace</td>
          </tr> 
          <tr>
            <td>Wheels</td>
            <td>CORIMA 47mm MCC "S" design (Special design Ulteam30 – Veloflex tires)</td>
            <td>CORIMA 47mm MCC "S" design (Special design Ulteam30 – Veloflex tires)</td>
          </tr>
          <tr>
            <td>Saddle</td>
            <td>Italia Flite Ti SLR Technology saddle</td>
            <td>Italia Flite Ti SLR Technology saddle</td>
          </tr>
          <tr>
            <td>Stem</td>
            <td>TIME Monolink ULTEAM</td>
            <td>TIME Monolink ULTEAM</td>
          </tr>
          <tr>
            <td>Handlebar</td>
            <td>TIME Ergodrive</td>
            <td>TIME Ergodrive</td>
          </tr>

        </table>

      </div>
    </div>
  </div>

</section>

<section id="scylon-image-gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        IMAGES GO HERE
      </div>
    </div>
  </div>
</section>

<section id="scylon-ulteam-geometry">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <%= image_tag 'geometry.png', class: 'img-responsive center-it' %>
      </div>
      <div class="col-lg-7">
          <% get_bike_geometry('Skylon') %>

          <% @bike_geometry.each do |g| %>
            <%= g.geometry_table.html_safe %>
          <% end %>

      </div>
    </div>
  </div>
</section>