


<section id="presenting-scylon-ulteam">
  <div class="container">
    <div class"row">
      <div class="col-md-12 text-center">
        <%#= image_tag 'https://www.timesport.com/system/images/W1siZiIsIjIwMTYvMDkvMjYvMTUvNDMvNTkvODc5L2hvbWVfU0NZTE9OX0xPR09fYmxhY2sucG5nIl0sWyJwIiwidGh1bWIiLCI1MDB4Il0sWyJwIiwic3RyaXAiXV0/home-SCYLON-LOGO-black.png', class: 'img-responsive', alt: 'SCYLON', title: '2017 TIME SCYLON' %>
        <h1>Presenting the SCYLON ULTEAM 30</h1>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
<%= image_tag 'Scylon_Ulteam30_Corima-web.png', class: 'img-responsive' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
        <a href="#scylon-30-ans" class="scroll-btn"><span class="fa fa-chevron-down fa-3x"></span></a>
        </div>

      </div>
    </div>
  </div>

</section>

<style>
.section-box {
  position:relative;
}

.section-text {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  display:table;
}

.section-text div {
  display:table-cell;  
  vertical-align: middle;
  
}
}


</style>

<section id="scylon-30-ans">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 section-box">
        <div class="section-text hide-image">
          <div>
        <%= image_tag '30ans-logo-white.png', class: 'img-responsive', alt: '30ans', title: 'TIME 30 ans', width: '40%', style: 'margin:0 auto;' %>

        <p>To celebrate our 30th anniversary, TIME has developed the all new SCYLON ULTEAM 30. This ultra high-end, limited to 100 editions bicycle is our new flagship model, symbolizing both the past and the future of TIME.</p>
 
        <p>The best of TIME’s technologies, born from our research and French innovation (Carbon Fiber braiding, AKTIV fork, DirectLink system, Stem and Handlebar in RTM carbon), allied with the best components (high end groups and wheels, integrated power sensor), allow a new level of performance, comfort and design!</p>
       
        <p>Meticulously imagined to create a single bike without equivalent, it provides cyclists the possibility to ride faster, in the plain as in mountain, with an unrivalled comfortable feel.</p>

        
                <p class="text-center"><a href="#scylon-image" class="scroll-btn"><span class="fa fa-chevron-down fa-2x"></span></a></p>
        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    
  </div>

</div>
</div>

  
</section>

<section id="scylon-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag 'Scylon_Ulteam30_Corima-web.png', class: 'img-responsive', alt: 'SCYLON', title: '2017 TIME SCYLON' %>
        <p class="text-center"><a href="#scylon-build-kits" class="scroll-btn"><span class="fa fa-chevron-down fa-3x"></span></a></p>
      </div>
    </div>
  </div>
</section>





<section id="scylon-build-kits">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Only the best of the best...</h1>
        <p>We're offering you our best TIME with only the best components from  Campagnolo and Shimano both including a Rotor crankset with an integrated power meter, super light wheels from Corima and of course, matched TIME handlebars and stem.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <tr>
            <th> </th>
            <th>Campagnolo Super Record EPS</th>
            <th>Shimano Dura-Ace Di2</th>
          </tr>
          <tr>
            <td>Front derailleur</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Rear derailleur</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Levers</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Brakes</td>
            <td>Super Record EPS</td>
            <td>Dura-Ace Di2</td>
          </tr>
          <tr>
            <td>Crankset</td>
            <td>Rotor in Power Flow (with integrated power sensor) NOQ 50A/34</td>
            <td>Rotor in Power Flow (with integrated power sensor) NOQ 50A/34</td>
          </tr>
          <tr>
            <td>Cassette</td>
            <td>Super Record 12-25</td>
            <td>Dura-Ace 11-25</td>
          </tr>  
          <tr>
            <td>Chain</td>
            <td>Record</td>
            <td>Dura-Ace</td>
          </tr> 
          <tr>
            <td>Wheels</td>
            <td>CORIMA 47mm MCC "S" design (Special design Ulteam30 – Veloflex tires)</td>
            <td>CORIMA 47mm MCC "S" design (Special design Ulteam30 – Veloflex tires)</td>
          </tr>
          <tr>
            <td>Saddle</td>
            <td>Italia Flite Ti SLR Technology saddle</td>
            <td>Italia Flite Ti SLR Technology saddle</td>
          </tr>
          <tr>
            <td>Stem</td>
            <td>TIME Monolink ULTEAM</td>
            <td>TIME Monolink ULTEAM</td>
          </tr>
          <tr>
            <td>Handlebar</td>
            <td>TIME Ergodrive</td>
            <td>TIME Ergodrive</td>
          </tr>

        </table>

        <p class="text-center"><a href="#scylon-image-gallery" class="scroll-btn"><span class="fa fa-chevron-down fa-3x"></span></a></p>

      </div>
    </div>
  </div>

</section>


<style>
/** { box-sizing: border-box; }

/* force scrollbar */
/*html { overflow-y: scroll; }

body { font-family: sans-serif; }*/






</style>

<% @scylon_grid = [
  'SCYLON_DSC_0533.jpg',
  'SCYLON_DSC_0548.jpg',
  'SCYLON_DSC_0543.jpg',
  'SCYLON_DSC_0542.jpg',
  'SCYLON_IMG_5368.jpg',
  'SCYLON_IMG_5364.jpg',
  'Scylon_Ulteam30_focus02.jpg',
  'Scylon_Ulteam30_highlights2.jpg',
  'Scylon_Ulteam30_focus04.jpg',
  'Scylon_Ulteam30_focus01.jpg',
  'SCYLON-Eurobike-P1080031-2.jpg',
  'SCYLON-Eurobike-P1070848.jpg',
  'SCYLON-Eurobike-P1080005.jpg'
  ] %>

<section id="scylon-image-gallery">
  <div class="container-fluid">
    <div class="row">
      
          <div class="grid has-gutters centered transitions-enabled">
            <% @scylon_grid.shuffle.each_with_index do |sc, index| %>
              <div class="grid-item"><%= image_tag sc %></div>
            <% end %>

          </div>
      
    </div>
    <div class="row">
      <div class="col-md-12 text-center disclaimer">
        <small>**Images may not reflect available component packages</small>

      </div>

    </div>
  </div>
</section>






<section id="scylon-ulteam-geometry">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <%= image_tag 'geometry.png', class: 'img-responsive center-it' %>
      </div>
      <div class="col-lg-7">
          <% get_bike_geometry('Skylon') %>
          <h2>SCYLON ULTEAM 30 Geometry</h2>

          <% @bike_geometry.each do |g| %>
            <%= g.geometry_table.html_safe %>
          <% end %>

      </div>
    </div>
  </div>
</section>


<script>





</script>




