<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">


<nav id='locale'>
    <%# ::Refinery::I18n.frontend_locales.each do |locale| %>
      <%#= link_to_if Globalize.locale.to_s != locale.to_s, locale, refinery.url_for{:locale => locale} %>
    <%# end %>

    <!-- THIS WORKS -->
    <%# new_locale = ::Refinery::I18n.frontend_locales.detect{|locale| Globalize.locale.to_s != locale.to_s} %>
    
    <%#= link_to new_locale, refinery.url_for(params.merge(locale: new_locale)) %>

    <!-- combo of block and working link -->
    <% ::Refinery::I18n.frontend_locales.each do |locale| %>
      <%= link_to_if Globalize.locale.to_s != locale.to_s, locale, refinery.url_for(params.merge(locale: locale)) %>
    <% end %>


</nav>
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer class="site-footer">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
