<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "/refinery/head" %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <div id="top-brand">
          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <%= image_tag 'time-logo.png' %>
              </div>
              <div class="col-xs-6 text-right">
                <% ::Refinery::I18n.frontend_locales.each do |locale| %>
                  <% if Globalize.locale.to_s != locale.to_s %>
                    <%= link_to (image_tag 'blank.gif', class: "flag flag-#{locale}"), refinery.url_for(params.merge(locale: locale)) %>
                  <% else %>
                    <%= image_tag 'blank.gif', class: "flag flag-#{locale}", style: 'border-bottom:1px solid gray;' %>
                  <% end %>
                <% end %>
              </div>

            </div>
            

<!--             <nav id='locale' class="text-right">
          combo of block and working link
          
            </nav> -->


          </div>


        </div>
        
      
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>

      <section id="time-catalog">
        <div class="container">
          <div class="row">
            <%= copywriting('Footer Catalog', {:scope => 'footer', :phrase_type => 'wysiwyg'}).html_safe %>
          </div>
        </div>
        </div>
      </section>


      <footer class="site-footer">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
